name: Build Kernel

on:
  workflow_dispatch:

env:
  DEFCONFIG: odin_defconfig
  ARCH: arm64
  ODIR: out
  ANYKERNEL_REPO: https://github.com/osm0sis/AnyKernel3.git
  ANYKERNEL_DIR: anykernel3
  ZIP_NAME: odin_kernel.zip

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Clone kernel source
        run:
          git clone --depth=1 https://github.com/liqidecg/odin.git kernel

      - name: Install build dependencies
        run: |
          DEBIAN_FRONTEND=noninteractive sudo apt-get install -y gcc-aarch64-linux-gnu lld

      - name: Implement KSU
        working-directory: kernel
        run: |
          curl -LSs "https://cdn.jsdelivr.net/gh/SukiSU-Ultra/SukiSU-Ultra@main/kernel/setup.sh" | bash -s builtin

      - name: Build Image
        working-directory: kernel
        run: |
          set -euo pipefail
          export PATH=/usr/lib/llvm-18/bin:$PATH
          export ARCH=arm64
          export CC=clang-18
          export LD=ld.lld-18
          export CLANG_TRIPLE=aarch64-linux-gnu-
          export CROSS_COMPILE=aarch64-linux-gnu-
          export LLVM=1
          make $DEFCONFIG
          make -j16

      - name: Clone AnyKernel3
        working-directory: kernel
        run: |
          git clone --depth=1 $ANYKERNEL_REPO $ANYKERNEL_DIR

      - name: Copy kernel image to AnyKernel3
        working-directory: kernel
        run: |
          cp arch/arm64/boot/Image $ANYKERNEL_DIR

      - name: Create flashable AnyKernel3 zip
        working-directory: kernel
        run: |
          cd $ANYKERNEL_DIR
          rm -rf .git || true
          zip -r "../$ZIP_NAME" . -x "*.git*" || true
          cd ..
          ls -la $ZIP_NAME

      - name: Upload the kernel
        uses: actions/upload-artifact@v4.6.2
        with:
          name: odin_kernel
          path: kernel/anykernel3
